<p id="notice"><%= notice %></p>

<h1>Listing Adhocs</h1>

<table>
  <thead>
    <tr>
      <th>Orig</th>
      <th>Depart</th>
      <th>Dest</th>
      <th>Arrive</th>
      <th>Type of freight</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adhocs.each do |adhoc| %>
      <tr>
        <td><%= adhoc.orig %></td>
        <td><%= adhoc.depart %></td>
        <td><%= adhoc.dest %></td>
        <td><%= adhoc.arrive %></td>
        <td><%= adhoc.type_of_freight %></td>
        <td><%= adhoc.reason %></td>
        <td><%= link_to 'Show', adhoc %> |</td>
        <td><%= link_to 'Edit', edit_adhoc_path(adhoc) %> |</td>
        <td><%= link_to 'Destroy', adhoc, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adhoc', new_adhoc_path %>
